:root {
    --menuhidden: hidden;
    --mobile: false;
    --mainheight: 2048px;
    --headingfontsize: 80px;
    --maintextfontsize: 26px;
}

.header {
    position: fixed;
    width: 100%;
    min-height: 75px;
    height: 8%;
    top: 0px;
    background: #353535;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    z-index: 9;
    border-color: #8E8E8E;
    border-width: 1px;
    border-style: solid;
}

.header:hover {
    background: #424242;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.60);
}

.navbar {
    display: flex;
    position: relative;
    left: 30%;
    width: 70%;
    bottom: 50%;
    height: 100%;
    justify-content: space-around;
    flex: 2;
    flex-wrap: wrap;
    flex-direction: row;
}

.body {
    margin: 0 0;
    overflow-x: hidden;
    position: relative;
    overflow-y: visible;
    background: #393939;
}

.aside1 {
    position: absolute;
    width: 15%;
    max-width: 200px;
    height: var(--mainheight);
    left: 0px;
    top: 8%;
    background: rgb(37, 54, 86);
    background: rgb(80,80,80);
    background: linear-gradient(0deg, rgba(10,10,10,1) 0%, rgba(28,28,28,1) 100%);;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 4;
}

.aside2 {
    position: absolute;
    width: 15%;
    max-width: 200px;
    height: var(--mainheight);
    right: 0px;
    top: 8%;
    background: rgb(80,80,80);
    background: linear-gradient(0deg, rgba(10,10,10,1) 0%, rgba(28,28,28,1) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 4;
}

@keyframes iconhover {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes iconimghover {
    from {
        left: 0px;
    }

    to {
        left: -50%;
    }
}

.iconimg {
    position: relative;
    left: 0px;
    height: 100%;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.icontext {
    position: relative;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #E3E3E3;
    margin: 0 0;
    text-decoration-line: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    white-space: nowrap;
    bottom: 70%;
    opacity: 0;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6);
}

.icon {
    position: relative;
    left: 15%;
    height: 80%;
    top: 10%;
    bottom: 10%;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    width: 10%;
    white-space: nowrap;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

@media (min-width:1060px) {

    .header:hover > .icon > .icontext {
        opacity: 1;
        transition-delay: 0.4s;
    }

    .header:hover > .icon > .iconimg {
        left: -50%;
    }
}

.header:not(:hover) > .icon > .icontext {
    opacity: 0;
}

.header:not(:hover) > .icon > .iconimg {
    left: 0px;
    transition-delay: 0.4s;
}

.navelement {
    position: relative;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 150%;
    color: #E3E3E3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration-line: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    display: inline-block;
}

.navelement:hover {
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
    color: white;
}

.main {
    position: absolute;
    margin: 0 0;
    top: 8%;
    left: 15%;
    width: 70%;
    height: var(--mainheight);
    padding: 0 0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.8);
    z-index: 5;
    background: #2C2C2C;
    border-color: #8E8E8E;
    border-width: 2px;
    border-style: dashed;
}

@media (max-width: 1120px) {
    .navelement {
        font-size: 110%;
        bottom: -7%;
    }
    :root {
        --headingfontsize: 56px;
    }
}

@media (max-width: 825px) {
    .navbar {
        bottom: 75%;
    }
}

@media (min-width: 1333px) {
    .main {
        left: 200px;
        width: calc(100% - 400px)
    }
}

@media (max-height: 937px) {
    .main {
        top: 75px;
    }
}

@media (max-width:1465px) {
    .icontext {
        flex-wrap: wrap;
        white-space: normal;
        top: -85%;
        left: 20%;
    }
}

.footer {
    width: 100%;
    position: absolute;
    top: calc(var(--mainheight) - 100px);
    height: 110px;
    margin: 0 0;
    z-index: 10;
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.8);
    background: rgb(12,12,12);
    background: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(0,0,0,1) 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media (max-height: 937px) {
    .footer {
        top: calc(var(--mainheight) - 100px + 75px);
    }
}

.footertext {
    display: flex;
    justify-content: center;
    position: relative;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 150%;
    color: #E3E3E3;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    text-decoration-line: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.navmenu {
    display: inline-block;
    left: 80%;
    position: absolute;
    bottom: 10%;
    height: 80%;
    visibility: hidden;
    background: rgba(0, 0, 0, 0);
    border-style: hidden;
    z-index: 11;
}

.navmenu > img {
    height: 80%;
}

.navscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: rgba(0, 0, 0, 0.8);
    visibility: var(--menuhidden);
    display: flex;
}

.navscreenclose {
    right: 0;
    position: fixed;
    display: inline-block;
    background-color: transparent;
    border-style: hidden;
    height: 10%;
}

.navscreenclose > img {
    height: 100%;
}

.navscreenlist {
    display: flex;
    margin: auto;
    justify-content:space-evenly;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
}

.navscreenlistelement {
    margin: auto;
    display: inline-block;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 300%;
    color: #E3E3E3;
    text-decoration-line: none;
    text-align: center;
}

.navelementchosen {
    font-weight: 700;
    color: #E38F8F;
}

@media (max-width:600px) or (min-resolution: 200dpi)  {
    .navbar {
        visibility: hidden;
        transition-duration: 0s;
    }
    .navmenu {
        visibility: visible;
    }
    .aside1, .aside2 {
        visibility: hidden;
    }
    .main {
        width: 100%;
        left: 0px;
    }
    .header {
        border-width: 4px;
    }
    .main {
        border-width: 8px;
    }
    .footer {
        height: 120px;
    }
}

.firstarticle {
    position: relative;
    top: 50px;
    left: 10px;
}

.headingblocky {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: var(--headingfontsize);
    color: #E3E3E3;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    text-align: center;
}

.maintext {
    font-family: 'Raleway', sans-serif;
    color: #E3E3E3;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    font-size: var(--maintextfontsize);
    font-weight: 400;
    margin: 20px;
}

@media (min-resolution: 200dpi) and (min-width: 900px) {
    .firstarticle {
        top: 150px;
    }
    :root {
        --maintextfontsize: 48px;
        --headingfontsize: 100px;
    }
}